[submodule "Tool/Compet/cs"]
	path = Tool/Compet/cs
	url = https://github.com/darkcompet/cs.git
[submodule "Tool/Compet/cs-net"]
	path = Tool/Compet/cs-net
	url = https://github.com/darkcompet/cs-net.git
